body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font: normal normal normal 16px arial black;
}

.structural{
    margin: 10px;
    padding: 10px;
}

h1{
    font-size: 20px;
    color: black;
}

h2{
    font-size: 16px;
    color: rgb(211, 0, 98);
}

main{
    height: auto;
}

img{
    border: 1px solid black;
    width: 90%;
    height: 80%;
}

figure{
    background-color: bisque;
    width: 45%;
    height: 60%;
    margin: auto;
    padding: 10px;
}

#img1{
    float: left;
}

#img2{
    float: right;
}

section{
    clear: both;
}

figcaption{
    font-weight: bold;
    font-size: 1.2em;
    color: crimson;
    padding: 5px;
}

ul li{
    list-style: circle;
    line-height: 2;
}

ul li a{
    text-decoration: none;
    color: darkviolet;
}

ul li a:hover{
    color: royalblue;
}

.hf{
    background-color: coral;
}

footer{
    clear: both;
}